.Nev {
  overflow: hidden;
  text-align: right;
  width: 100%;
  height: 10vh;
}

li{
  display: inline-block;
  padding-left: 1vw;
}

.Nev-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}